<template name='post'>
  <div class="modal fade" id="newTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

    <div class="modal-content">
      <form class="form-horizontal" role="form" id='topic'>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Create new topic</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="post_title">Post Title</label>
              <div class="col-sm-9">
                  <textarea class="form-control" id='post_title' name="title" required rows="5"></textarea>
              </div>
              </div>
              <div class="form-group">
                  <label for="post_url" class="col-sm-3 control-label">Post Url</label>
                  <div class="col-sm-9">
                          <input type="text" class="form-control" name='url' id='post_url'>
                  </div>
              </div>
              <div class="form-group">
                  <label for="tag_select" class="col-sm-3 control-label">Tags</label>
                  <div class="col-sm-9">
                          {{> inputAutocomplete settings=settings type="text" spellcheck="off"
                id="tag_select" name="tags" class="form-control" }}
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary concept-background">Save</button>
          </div>
      </form>
    </div>

    </div>
  </div>



  <div class="modal fade" id="newTagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

    <div class="modal-content">
      <form class="form-horizontal" role="form" id='tag'>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Create new tag</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="tag_name">Name*</label>
              <div class="col-sm-9">
                <input class="form-control" name="name" id="tag_name" required placeholder="name of the tag, i.e. nasa">
              </div>
            </div>
            <div class="form-group">
              <label for="tag_title" class="col-sm-3 control-label">Title*</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name='title' id='tag_title' required placeholder="motto of this tag">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="tag_desc">Description</label>
              <div class="col-sm-9">
                <textarea class="form-control" name="desc" id="tag_desc" rows="5" placeholder="small description for this tag"></textarea>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary concept-background">Save</button>
          </div>
      </form>
    </div>
    </div>
  </div>

</template>

<template name="scrub">
    <span class='badge'>{{ name }}</span>
</template>
