<template name='post'>
  <div class="post">
    <div class="page-header">
      <h1>Create new topic</h1>
    </div>

    <form role='form' id='topic'>
      <div class="form-group">
        <label for='post_title'>Post Title</label>
        <textarea name='title' class='form-control' id='post_title' required></textarea>
      </div>
      <div class="form-group">
        <label for='post_url'>Post Url</label>
        <input type='url' class='form-control' name='url' id='post_url'/>
      </div>
      <div class="form-group">
        <label for='tag_select'>Tags</label>
        {{> inputAutocomplete settings=settings type="text" spellcheck="off"
            id="tag_select" name="tags" class="form-control" }}
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</template>


<template name="scrub">
    <span class='badge'>{{ name }}</span>
</template>