<template name="postShow">
  <ul class="timeline-list" style="padding-left:0px">
      <li></li>
      {{#with post}}
        {{> postDetail}}
      {{/with}}
  </ul>

  <div class="media messages-container">
      <div class="media-body">

          {{#each messages}}
          <div class="media">
              <div class="pull-left media-object">
                  <a href="#">
                      <img src="/images/default.jpg" width="60" alt="">
                  </a>
              </div>
              <div class="media-body message">
                  <div class="panel panel-default">
                      <div class="panel-heading panel-heading-white">
                          <div class="pull-right">
                              <small class="text-muted">2 min ago</small>
                          </div>
                          <a href="#" class="concept-color">{{ author.username }}</a>
                      </div>
                      <div class="panel-body">
                          {{ body }}
                      </div>
                  </div>
              </div>
          </div>
          {{/each}}

          <div class="panel panel-default share">
              <form id="messageForm" role="form" onsubmit="return false;">
              <div class="input-group">
                    <input type="text" class="form-control share-text" id="message_body" name="body" placeholder="Write message...">
                    <input type='hidden' value='{{ post._id }}' name='postId'/>
                    <div class="input-group-btn">
                        <a class="btn btn-primary concept-background" href="#" id="insertMessage">
                            <i class="fa fa-envelope"></i>
                            Send
                        </a>
                    </div>
              </div>
              </form>
              <!-- /input-group -->
          </div>


      </div>
  </div>

</template>