<template name="home">
  <div class="home">
    <div class="page-header">
      <h1>Welcome to {{ siteTitle }}</h1>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <ul class="list-group">
          {{#each posts}}
            <li class="list-group-item">
              <div class='row'>
                <div class='col-sm-2'>
                  <a href="#" class=''> A </a>
                  <span >{{score}}</span>
                  <a href="#" class=''> V </a>
                  <span>··</span>
                  <span>{{hot}}</span>
                </div>

                <div class='col-sm-8'>
                  <a class='post-detail' href='#'>{{title}}</a>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-10'></div>
                <div class='col-sm-2'>
                  <span>{{age}}</span>
                </div>
              </div>

            </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-2">
        <button class="btn btn-default" id='create_topic'>Create New Topic</button>
      </div>
    </div>

  </div>
</template>