<template name="home">

<div class="panel panel-default">
  <ul class="nav nav-tabs" role="tablist">

      <li class="{{#if checkPage "hot"}}active{{else}}{{/if}}">
        <a href="/">Hot</a>
      </li>

      <li class="{{#if checkPage "new"}}active{{else}}{{/if}}">
        <a href="/new">New</a>
      </li>
  </ul>
</div>

  <ul class="timeline-list">
      <li></li>
      {{#each posts }}
            {{> postDetail }}
      {{/each}}
  </ul>

  {{> paginator}}

</template>


<template name="paginator">
<div class="paginator">
<div class="row">
  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="#" class="concept-color">&larr; Older</a>
      </li>
      <li class="next">
        <a href="#" class="concept-color">Newer &rarr;</a>
      </li>
    </ul>
  </nav>
</div>
</div>
</template>