<template name="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="pull-left logo">
            <a href="/" title="Paymoni">
                <img src="/images/logo.png">
            </a>
        </div>

            {{#if currentUser}}
            <ul class="nav navbar-nav pull-right">
              <li class="alert hidden-xs">
                  <a href="#" id="create_topic" class="concept-background">
                      <i class="fa fa-fw fa-link" style="color: #fff"></i>
                      Create New
                      <strong>Topic</strong>
                  </a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <img src="/images/default.jpg" alt="Bill" class="img-circle" width="40"/>
                      {{ currentUser.profile.name }} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ isActivePath 'dashboard' }}">Dashboard</a></li>
                      <li><a href="{{ pathFor 'profile' }}">Profile</a></li>
                      <li><a href="#">Create New Topic</a></li>
                      <li><a href="{{ pathFor 'entrySignOut' }}">Logout</a></li>
                  </ul>
              </li>
            </ul>

            {{else}}
            <ul class="nav navbar-nav pull-right login-menu">
              <li>
                <a href="#" class="btn btn-primary concept-background concept-btn" id="login_btn">
                  <i class="icon-user-1"></i> Login
                </a>
              </li>
              <li>
                  <a href="#" class="btn btn-primary concept-background concept-btn"  id="register_btn">
                    <i class="icon-user-1"></i> Register
                  </a>
              </li>
            </ul>
            {{/if}}
    </div>
  </div>
</template>

<template name="notFound">
  <span>Not found</span>
</template>
